@model CafeMVC.Application.ViewModels.Products.ProductForCreationVm
@{
    string title = "Add new product";
}
<head>
    <link rel="stylesheet" href="~/css/AddProduct.css" />
</head>

<body>
    @using (Html.BeginForm("AddNewProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Id)
        <h4>@title</h4>
        <div class="top">
            <div id="container">
                <div id="pictureFrame">
                    <div id="displayPicture"></div>
                </div>
            </div>
            <div id="buttonAndName">
                <div id="button">
                    <label for="imageUpload" class="btn btn-secondary">Choose file</label>
                </div>
                <input type="file" id="imageUpload" name="file" multiple required style="display: none" />
                <br>
                <div id="name">
                    <h4>Name</h4>
                    @Html.TextBoxFor(m => m.Name, new { @class = "textBox", @required = "required", @onchange="CheckField('name')" })
                    <span></span>
                </div>
                <div id="price">
                    <br>
                    <h4>Price</h4>
                    @Html.TextBoxFor(m => m.PriceString, new {@id="priceInput", @class = "textBox", @required = "required"})
                    <span id="priceAlert"></span>
                </div>
                <hr />
            </div>
        </div>
        <div class="bottom">
            <div class="productTable">
                <div class="Ingredients">
                    <div class="allIngredients">
                        <a asp-action="EditIngredientsList">Edit All Ingredient </a>
                        <select multiple="multiple" id="AllIngredients" name="AllIngredients" >
                            <optgroup label="All Ingredients">
                                @if (Model.Ingredients != null)
                                {
                                    @foreach (var item in Model.Ingredients)
                                    {
                                        <option value="@item.Id">
                                            @item.Name
                                        </option>
                                    }
                                }
                            </optgroup>
                        </select>
                    </div>
                    <div class="buttons">
                        <input type="button" class="btn btn-secondary" id="remove" value="&larr;" />
                        <input type="button" class="btn btn-secondary" id="move" value="&rarr;" />
                    </div>
                    <div class="productIngredients panel">
                        <br>
                        <span id="ingredientsList"></span>
                        <select multiple="multiple" id="IngredientsSelectList" name="IngredientsIds" required>
                            <optgroup label="Product Ingredients"></optgroup>
                        </select>
                    </div>
                </div>
                <div class="Allergens">
                    <div>
                        <a asp-action="EditAllergensList">Edit All Allergens </a>
                        <select multiple="multiple" id="AllAllergens" name="AllAllergens">
                            <optgroup label="All Allergens">
                                @if (Model.Allergens != null)
                                {
                                    @foreach (var item in Model.Allergens)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </optgroup>
                        </select>

                    </div>
                    <div class="buttons">
                        <input type="button" class="btn btn-secondary" id="removeAllergens" value="&larr;" />

                        <input type="button" class="btn btn-secondary" id="moveAllergens" value="&rarr;" />
                    </div>
                    <div>
                        <br>
                        <select size="3" multiple="multiple" id="Allergens" name="AllergensIds">
                            <optgroup label="Product Allergens"></optgroup>
                        </select>
                    </div>
                </div>
                <div class="DietInfo_Submit">
                    <div>
                        <br>
                        <select multiple="multiple" id="DietInfoForViewVms" name="DietInfoIds">
                            <optgroup label="Choose diet Information">
                                @foreach (var item in Model.DietInfoForViewVms)
                                {
                                    <option value="@item.Id.ToString()">
                                        @item.Name
                                    </option>
                                }
                            </optgroup>
                        </select>
                    </div>
                    <div class="Description">
                        <br>
                        <h4>Description</h4>
                        @Html.TextAreaFor(m => m.Description, new{@class ="DescriptionTextBox", @required = "required"})

                    </div>
                    <div>
                        <br>
                        <button type="submit" class="btn btn-success" value="Submit" name="Btn" role="button" id="submitButton">Submit</button>
                        <button type="submit" class="btn btn-danger" name="Btn" value="Cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
@section Scripts{
    <script src="~/js/CustomerInfo.js"></script>
    <script type="text/javascript">
        const submit = document.getElementById("submitButton");
        const image_input = document.querySelector("#imageUpload");
        image_input.addEventListener("change", function () {
            const reader = new FileReader();
            reader.addEventListener("load", () => {
                const uploaded_image = reader.result;
                document.querySelector("#displayPicture").style.backgroundImage = `url(${uploaded_image})`;
            });
            reader.readAsDataURL(this.files[0]);
        });
        $('#move').click(function () {
            $('#AllIngredients option:selected').appendTo('#IngredientsSelectList');
            console.log(document.body.firstElementChild);
            IsThereAnyIngredient();
            return false;
        });
        $('#remove').click(function () {
            $('#IngredientsSelectList option:selected').appendTo('#AllIngredients');
            IsThereAnyIngredient();
            return false;
        });
        $('#moveAllergens').click(function () {
            $('#AllAllergens option:selected').appendTo('#Allergens');
            console.log(document.body.firstElementChild);
            return false;
        });
        $('#removeAllergens').click(function () {
            $('#Allergens option:selected').appendTo('#AllAllergens');
            return false;
        });
        $('#submitButton').click(function () {
            $('#IngredientsSelectList option').prop('selected', true);
            $('#Allergens option').prop('selected', true);


        });

        let input = document.getElementById("priceInput");

        input.addEventListener("input", function () {
            let value = input.value;
            let isValid = /^\d+(?:\.\d{0,2})?$/.test(value);
            let span = document.getElementById("priceAlert");
            if (!isValid) {
                span.innerHTML = '<br> <i class="fa-solid fa-circle-exclamation" style="color:red"> Please enter a valid price (e.g. 9.99)';
                input.setCustomValidity("Please enter a valid price (e.g. 9.99)");
                submit.disabled = true;
            } else {
                span.innerHTML = '<i class="fa-solid fa-circle-check" style="color:green"></i>';
                input.setCustomValidity("");
                  submit.disabled = false;
            }
        });

        function IsThereAnyIngredient(){
            let listOfIngredients = document.getElementById("IngredientsSelectList");
            let span = document.getElementById("ingredientsList");
            if (listOfIngredients.length < 1){
                span.innerHTML = '<i class="fa-solid fa-circle-exclamation" style="color:red"> Please enter at least one ingredient'
                submit.disabled = true;
            }
            else{
                span.innerHTML = '';
                submit.disabled = false;
            }

        }
    </script>

}

