@model CafeMVC.Application.ViewModels.Products.ListOfIngredientsVm

@{
    string title = "All Ingredients";
}
<head>
    <style>
        .table {
    background-color: rgba(41,43,44, 0.8) !important;
}
    </style>
</head>

<h1>@title</h1>

<p>
    <a asp-action="AddNewIngredient">Create Ingredient</a>
</p>
<form asp-action="EditIngredientsList" , asp-controller="product" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" class="searchString" name="searchString" id="searchString" placeholder="Looking for..." />
        <input type="submit" value="Search" class="searchString" />
    </div>
    <div class="row">
        <table class="table" style="width:60%;">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Ingredients)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteIngredient", new { ingredientId = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="clean">
            <tr>
                @for (int i = 1; i <= (Math.Ceiling(Model.Count / (double)Model.PageSize)); i++)
                {
                    if (i != Model.CurrentPage)
                    {
                        <a href="javascript:PageClick(@i)">@i</a>
                    }
                    else
                    {
                        @i
                    }
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>
@section Scripts
{
<script type="text/javascript">

    function PagerClick(index)
    {
        document.getElementById("pageNo").value = index;
        document.forms[0].submit();
    }
</script>
}
