@model CafeMVC.Application.ViewModels.Products.ListOfAllergensVm

@{
    string title = "All Allergens";
}
<head>
    <style>
        .table {
            margin-left: auto;
            margin-right: auto;
            width: auto;
        }

        body {
            text-align: center !important;
        }

        #searchString {
            margin-left: 20%;
        }
    </style>
</head>

<h1>@title</h1>

<p>
    <a asp-action="AddNewAllergen">Create New Allergen</a>
</p>
<div style="text-align:right;"> <h4 id="linkToIndex"><a href='@Url.Action("Admin", "Home")' class="btn btn-secondary">Go to Admin </a></h4></div>
<form asp-action="EditAllergensList" , asp-controller="product" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" class="searchString" name="searchString" id="searchString" placeholder="Looking for..." />
        <input type="submit" value="Search" class="searchString" />
    </div>
    <div class="row">
        <table  class="table" style="width:60%;">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListOfAllergens)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteAllergen", new {allergenId = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="clean">
            <tr>
                @for (int i = 1; i <= (Math.Ceiling(Model.Count / (double)Model.PageSize)); i++)
                {
                    if (i != Model.CurrentPage)
                    {
                        <a href="javascript:PageClick(@i)">@i</a>
                    }
                    else
                    {
                        @i
                    }
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>
@section Scripts
{
<script type="text/javascript">

    function PagerClick(index)
    {
        document.getElementById("pageNo").value = index;
        document.forms[0].submit();
    }
</script>
}
