@model CafeMVC.Application.ViewModels.Orders.OrderForCreationVm
<head>
    <link rel="stylesheet" href="~/css/OrderStyleSheet.css" />

</head>
@{
    bool condition = Model.Payment.PaymentTypeId != 1; // paymentTypes: id 1 == card id 2 == cash id 3 == paypal
    int deliveryAddressIndex = condition ? 0 : 1; 
   
}
@using (Html.BeginForm("Checkout", "Order", FormMethod.Get))
{
    <div id="customerContactInfo">

        <div class="header">
            <h2>Personal Details</h2>
            <hr class="overLine">
        </div>

        <div class="innerGrid">
            <div class="columnOne">
                <h5>@Html.LabelFor(m => m.Customer.FirstName)</h5>
                <h6>@Html.TextBoxFor(m => m.Customer.FirstName, new {@class = "textBox textbox2"})</h6>

                <h5>@Html.LabelFor(m => m.Customer.Surname)</h5>
                <h6>@Html.TextBoxFor(m => m.Customer.Surname, new {@class = "textBox textbox2"})</h6>
            </div>

            <div class="columnTwo">
                <h5>E-mail</h5>
                @Html.HiddenFor(m => m.ContactDetails[0].Id)
                @Html.HiddenFor(m => m.ContactDetails[0].ContactDetailTypeId, new {@id="emailTypeId"})
                <h6>@Html.TextBoxFor(m => m.ContactDetails[0].ContactDetailInformation, new {@class = "textBox textbox2"})</h6>
                <h5>Contact phone</h5>
                @Html.HiddenFor(m => m.ContactDetails[1].Id)
                @Html.HiddenFor(m => m.ContactDetails[1].ContactDetailTypeId, new {@id="mobileTypeId"})
                <h6>@Html.TextBoxFor(m => m.ContactDetails[1].ContactDetailInformation, new {@class = "textBox textbox2"})</h6>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Payment.PaymentTypeId, new{@value= Model.Payment.PaymentTypeId})
    @Html.HiddenFor(m => m.Payment.PaymentType.Name, new{@value= Model.Payment.PaymentType.Name})
    @Html.HiddenFor(m => m.IsCollection, new{@value= Model.IsCollection})
    @if (Model.Payment.PaymentTypeId == 1)
    {

        <div id="billingAddress">
            <div class="header">
                <h2>Billing Address</h2>
                <hr class="overLine">
                @Html.HiddenFor(m => m.Addresses[0].AddressTypeId, new{@id= "billingTypeId"})
            </div>

            <div class="innerGrid">
                <div class="columnOne">
                    <div class="textbox">
                        <h5>Street</h5>
                        <h6>
                            @Html.TextBoxFor(m => m.Addresses[0].Street, new { @class = "textBox textbox2", @id = "streetB"})
                        </h6>
                    </div>
                    <div class="textbox">
                        <h5>Building Number</h5>
                        <h6>
                            @Html.TextBoxFor(m => m.Addresses[0].BuildingNumber, new { @class = "textBox textbox2",  @id = "buildingNumberB"})
                        </h6>
                    </div>
                    <div class="textbox">
                        <h5>Flat Number</h5>
                        <h6>
                            @Html.TextBoxFor(m => m.Addresses[0].FlatNumber, new { @class = "textBox textbox2", @id = "flatNumberB"})
                        </h6>
                    </div>
                </div>

                <div class="columnTwo">
                    <div class="textbox">

                        <h5>Post Code</h5>
                        <h6>
                            @Html.TextBoxFor(m => m.Addresses[0].ZipCode, new { @class = "textBox textbox2", @id = "zipCodeB"})
                        </h6>
                    </div>
                    <div class="textbox">
                        <h5>City</h5>
                        <h6>
                            @Html.TextBoxFor(m => m.Addresses[0].City, new { @class = "textBox textbox2", @id = "cityB"})
                        </h6>
                    </div>
                    <div class="textbox">
                        <h5>Country</h5>
                        <h6>
                            @Html.TextBoxFor(m => m.Addresses[0].Country, new { @class = "textBox textbox2", @id = "countryB"})
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.IsCollection == false)
        {

        <div id="deliveryCheckBox">
            <p><b>Delivery Information <label><input type="checkbox" value="" id="check-address" onclick="FillShippingAddress()">Same as billing?</label></b></p>
        </div>
        }
    }
    @if (Model.IsCollection == false)
    {
        <div id="deliveryAddress">

            <div class="header">
                <h2>Delivery Address</h2>
                <hr class="overline">
                @Html.HiddenFor(m => m.Addresses[deliveryAddressIndex].AddressTypeId, new{ @id="deliveryTypeId" })

            </div>
            <div class="innerGrid">
                <div class="columnOne">
                    <input id="AddressTypeId"
                   name="AddressTypeId"
                   type="hidden"
                   value="2" />
                    <div class="textbox">
                        <h5>Street</h5>
                        <h6>
                            @Html.TextBoxFor(m => m.Addresses[deliveryAddressIndex].Street, new { @class = "textBox textbox2", @id = "streetD"})
                        </h6>
                    </div>
                    <div class="textbox">
                        <h5>Building Number</h5>
                        <h6>
                            @Html.TextBoxFor(m => m.Addresses[deliveryAddressIndex].BuildingNumber, new { @class = "textBox textbox2",  @id = "buildingNumberD"})
                        </h6>
                    </div>
                    <div class="textbox">
                        <h5>Flat Number</h5>
                        <h6>
                            @Html.TextBoxFor(m => m.Addresses[deliveryAddressIndex].FlatNumber, new { @class = "textBox textbox2", @id = "flatNumberD"})
                        </h6>
                    </div>
                </div>

                <div class="columnTwo">
                    <div class="textbox">
                        <h5>Post Code</h5>
                        <h6>
                            @Model.Addresses[1].ZipCode
                            @Html.HiddenFor(m => m.Addresses[deliveryAddressIndex].ZipCode, new { @class = "textBox textbox2", @value=Model.Addresses[1].ZipCode})
                        </h6>
                    </div>
                    <div class="textbox">
                        <h5>City</h5>
                        <h6>
                            Leicester
                            @Html.HiddenFor(m => m.Addresses[deliveryAddressIndex].City, new{ @id = "city", @value = "Leicester"})
                        </h6>
                    </div>
                    <div class="textbox">
                        <h5>Country</h5>
                        <h6>
                            United Kingdoms
                            @Html.HiddenFor(m => m.Addresses[deliveryAddressIndex].Country, new{ @id = "country"})
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    }

    <div id="submit">
        <button type="submit" class="btn btn-success" value="Submit" name="Btn" role="button">Submit</button>
        <button type="submit" class="btn btn-danger" name="Btn" value="Cancel">Cancel</button>
    </div>

}

<script type="text/javascript">
    function FillShippingAddress() {
        var checkBox = document.getElementById("check-address");
        var streetBil = document.getElementById("streetB");
        var streetDel = document.getElementById("streetD");
        var buildingNoBil = document.getElementById("buildingNumberB");
        var buildingNoDel = document.getElementById("buildingNumberD");
        var flatNumberBil = document.getElementById("flatNumberB");
        var flatNumberDel = document.getElementById("flatNumberD");
        var zipCodeBil = document.getElementById("zipCodeB");
        var zipCodeDel = document.getElementById("zipCodeD");
        var cityBil = document.getElementById("cityB");
        var cityDel = document.getElementById("cityD");

        if (checkBox.checked == true) {
            streetDel.value = streetBil.value;
            buildingNoDel.value = buildingNoBil.value;
            flatNumberDel.value = flatNumberBil.value;
            zipCodeDel.value = zipCodeBil.value;
        } else {
            streetDel.value = "";
            buildingNoDel.value = "";
            flatNumberDel.value = "";
            zipCodeDel.value = "";
        }
    };


    var billingTypeId = document.getElementById("billingTypeId");
    if( billingTypeId != null)
    {
    billingTypeId.value = "1";

    }
    var deliveryTypeId = document.getElementById("deliveryTypeId");
    deliveryTypeId.value = "2";
    var emailTypeId = document.getElementById("emailTypeId");
    emailTypeId.value = "1";
    var mobileTypeId = document.getElementById("mobileTypeId");
    mobileTypeId.value = "2";
    var city = document.getElementById("city");
    city.value = "Leicester";
    var country = document.getElementById("country");
    country.value = "United Kingdoms";
</script>
