@model CafeMVC.Application.ViewModels.Orders.ListsOfOrdersForIndexVm

<head>
    <link rel="stylesheet" href="~/css/CSSOrderView.css" />
</head>
@{
    ViewData["Title"] = "Index";
    string deliveryText;
}
<div id="wrapper">
    <div id="ordersInProgress">
        <h3>Open Orders</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Lead Time</th>
                    <th>Status</th>
                    <th>Items Count</th>
                    <th>Delivery</th>
                    <th>Edit</th>
                </tr>
            </thead>
            @if (@Model.ListOfOpenOrders != null)
            {
                @for (int i = 0; i < @Model.ListOfOpenOrders.Count; i++)
                {
                    @if (@Model.ListOfOpenOrders[i].IsCollection == true)
                    {
                        deliveryText = "False";
                    }
                    else
                    {
                        deliveryText = "True";
                    }
                    <tr>
                        <td>@Model.ListOfOpenOrders[i].Id</td>
                        <td>@Model.ListOfOpenOrders[i].LeadTime.ToShortDateString() @Model.ListOfOpenOrders[i].LeadTime.ToShortTimeString()</td>
                        <td class="statusCell">@Model.ListOfOpenOrders[i].StatusName</td>
                        <td>@Model.ListOfOpenOrders[i].NumberOfProduct</td>
                         <td>
                            @deliveryText
                        </td>
                        <td>@Html.ActionLink("Edit", "OrderView", new {orderId = Model.ListOfOpenOrders[i].Id })</td>
                    </tr>
                }
            }
            else
            {
               <tr>There is no open orders</tr>
            }
        </table>
    </div>
    <div id="ordersFromPast">
        <h3>Closed Orders</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Lead Time</th>
                    <th>Status</th>
                    <th>Items Count</th>
                    <th>Delivery</th>
                    <th>Edit</th>
                </tr>
            </thead>
            @if (@Model.ListOfClosedOrders != null)
            {
                @for (int i = 0; i < @Model.ListOfClosedOrders.Count; i++)
                {
                    @if (@Model.ListOfClosedOrders[i].IsCollection == true)
                    {
                        deliveryText = "False";
                    }
                    else
                    {
                        deliveryText = "True";
                    }
                    <tr>
                        <td class="blabla">@Model.ListOfClosedOrders[i].Id</td>
                        <td>@Model.ListOfClosedOrders[i].LeadTime.ToShortDateString() @Model.ListOfOpenOrders[i].LeadTime.ToShortTimeString()</td>
                        <td class="statusCell"> @Model.ListOfClosedOrders[i].StatusName</td>
                        <td>@Model.ListOfClosedOrders[i].NumberOfProduct</td>
                        <td>
                            @deliveryText
                        </td>
                        <td>@Html.ActionLink("Edit", "OrderView", new {orderId = Model.ListOfClosedOrders[i].Id })</td>
                    </tr>
                }
            }
            else if(@Model.ListOfClosedOrders == null)
            {
                <tr>
                    <td colspan="5"> There is no orders to view </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        var statusCells = document.getElementsByClassName('statusCell');
        console.log(statusCells);
        for (var i = 0; i < statusCells.length; i++) {
            console.log(statusCells[i]);

            if (statusCells[i].innerHTML == "Open") {
                statusCells[i].style.color = "green";
            }
            else if (statusCells[i].innerHTML == "In Progress") {
                statusCells[i].style.color = "orange";
            }
            else if (statusCells[i].innerHTML == "Closed") {
                statusCells[i].style.color = "grey";
            }
            else if (statusCells[i].innerHTML == "Ready") {
                statusCells[i].style.color = "darkblue";
            }
            else if (statusCells[i].innerHTML == "Cancelled") {
                statusCells[i].style.color = "Red";
            }
        }

    </script>
}