@model CafeMVC.Application.ViewModels.Orders.OrderForSummaryVm
<head>
    <link rel="stylesheet" href="~/css/OrderSummary.css" />
</head>
@{
    string textForDelivery;
    string header;
    if (Model.IsCollection == false)
    {
        header = "Delivery to:";
        textForDelivery = $"{Model.DeliveryAddress.Address}";
    }
    else
    {
        header = "Collection";
        textForDelivery = " ";
    }
}
<div id="main">
    <div id="header">
        <h1>Order Confirmation</h1>
        <h2>@Model.OrderConfirmation</h2>
    </div>
    <div id="description">
        <div id="products" class="information">
            <h3>Ordered Products:</h3>
            @foreach(var product in Model.Products)
            {
                string productText = $"{product.Quantity}x {product.Name}  -- {product.OverallPrice}";
                <h4>@productText</h4>
            }
        </div>
        <div class="information" id="delivery">
            @if (Model.IsCollection == false)
            {
            <h4>@header</h4>
            <h4>@textForDelivery</h4>
            }
            else
            {
                <h3>@header</h3>
            }
            <h3>To be ready on:</h3>
            <h3>@Model.LeadTime.ToShortDateString() at @Model.LeadTime.ToShortTimeString()</h3>
        </div>
        <div class="information" id="contactDetail">
            <h3>
                Your Contact Details
            </h3>
            <h4>@Model.CustomerName</h4>
            <h4>@Model.ContactDetails[0].ContactDetailType :</h4>
            <h4>@Model.ContactDetails[0].ContactDetailInformation</h4>
            <h4>@Model.ContactDetails[1].ContactDetailType :</h4>
            <h4>@Model.ContactDetails[1].ContactDetailInformation</h4>
        </div>
    </div>
</div>