@model CafeMVC.Application.ViewModels.Menu.ListOfMenusVm

@{
    string title = "Menu Index";
}
<head>
    <style>
    
    </style>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>@title</h1>

<p>
    <a asp-action="AddNewMenu">Create New Menu</a>
</p>
<div style="text-align:right;"> <h4 id="linkToIndex"><a href='@Url.Action("Admin", "Home")' class="btn btn-secondary">Go to Admin </a></h4></div>
<form asp-action="Index" asp-controller="menu" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString"  class="searchString" id="searchString"  placeholder="Looking for..." />
        <input type="submit" value="Search" class="searchButton"/>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Menu
                    </th>
                    <th>
                        Public Menu
                    </th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListOfAllMenus)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)    
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => item.IsItPublic)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "EditMenu", new {  menuId = item.Id }) |
                            @Html.ActionLink("Details", "ViewMenu", new { menuId = item.Id }) |
                            @Html.ActionLink("Delete", "DeleteMenu", new { menuId = item.Id})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="pagerTable">
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize"/>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }

    </script>
}