@page
@model CafeMVC.Web.Areas.Identity.Pages.Account.Manage.AddressModel
@{
}
<div class="address-container">
    <div class="add-address-container">
        <button class="btn btn-primary add-address-button" data-id="@Model.CustomerId" id="add-address-button">
            Add New Address
        </button>
    </div>
    <div class="table-container">
        <table id="address-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Address Type</th>
                    <th>Full Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Addresses.Count; i++)
                {
                    int y = i + 1;
                    <tr>
                        <td>@y</td>
                        <td>@Model.Addresses[i].Type</td>
                        <td>@Model.Addresses[i].Address</td>
                        <td class="button-row">
                            <div class="btn-container">
                                <button type="button" class="btn btn-secondary edit-address-button" data-id="@Model.Addresses[i].Id">Edit</button>
                                <button type="button" class="btn btn-danger delete-address-button" data-id="@Model.Addresses[i].Id">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="address-form-container"></div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('.edit-address-button').click(function () {
                var addressId = $(this).data('id');
                var url = '@Url.Action("ChangeAddress", "Customer", new {id = "addressId"})'.replace('addressId', addressId);
                $.get(url, function (data) {
                    $('#address-form-container').html(data);
                    $('#address-form-container').show();
                });
                $('.add-address-form').hide();
            });
            $('.add-address-button').click(function () {
                var customerId = $(this).data('id'); // Get the customer ID from the data attribute
                var url = '@Url.Action("AddNewAddress", "Customer")' + '?customerId=' + customerId;

                $.get(url, function (data) {
                    $('#address-form-container').html(data);
                    $('#address-form-container').show();
                });

                // $('.add-address-form').hide();
            });
            $('.delete-address-button').click(function () {
                var addressId = $(this).data('id');
                var url = '@Url.Action("DeleteAddress", "Customer",new {id = "addressId"})'.replace('addressId', addressId);

                $.get(url, function (data) {
                    $('#address-form-container').html(data);
                    $('#address-form-container').show();
                });
            });

            $(document).on('click', '#close-form-button', function () {
                $('#address-form-container').hide();
            });

        });
    </script>
}