@using CafeMVC.Domain.Model;
@using CafeMVC.Web.Areas.Identity.Pages.Account.Manage;
@using Microsoft.AspNetCore.Identity;
@model CafeMVC.Application.ViewModels.Customer.AddressForCreationVm


@{
    string title = "New Address";
}
<h5>@title</h5>
@using (Html.BeginForm("AddNewAddress", "Customer", FormMethod.Post, new { @class = "coffee-Form" }))
{
    <h5>Address type</h5>
    @Html.DropDownList("AddressTypeId", new List<SelectListItem>
    {
    new SelectListItem { Text = "Billing Address",
    Value="1" },
    new SelectListItem { Text = "Delivery Address",
    Value="2" }
    }, new { @class = "textBox", @onchange="changeValidationUpToType()", @id= "typeId"})
    <div id="street">
        <h5>Street</h5>
        <h6>
            @Html.TextBoxFor(m => m.Street, new { @class = "textBox", @onchange="CheckField('street')", @required = "required"})
        </h6>
        <span></span>
    </div>
    <br />
    <div id="buildingNumber">
        <h5>Building Number</h5>
        <h6>
            @Html.TextBoxFor(m => m.BuildingNumber, new { @class = "textBox", @onchange="CheckNumber('buildingNumber')", @required = "required"})
        </h6>
        <span></span>
        <br />
    </div>
    <div id="flatNumber">
        <h5>Flat Number</h5>
        <h6>
            @Html.TextBoxFor(m => m.FlatNumber, new { @class = "textBox", @onchange="CheckNumber('flatNumber')", @required = "required"})
        </h6>
        <span></span>
        <br />
    </div>
    <div id="postcode">
        <h5>PostCode</h5>
        <h6>
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "textBox", @id="postCodeTextBox", @oninput="CheckPostcode()", @required = "required"})
        </h6>
        <span id="displayError"></span>
        <br />

    </div>
    <div id="city">
        <h5>City</h5>
        <h6>
            @Html.TextBoxFor(m => m.City, new { @class = "textBox", @id ="cityTextBox", @onchange="CheckField('street')", @required = "required"})
        </h6>
        <span></span>
        <br />

    </div>
    <div id="country">

        <h5>Country</h5>
        <h6>
            @Html.TextBoxFor(m => m.Country, new { @class = "textBox", @id ="countryTextBox", @onchange="CheckField('country')", @required = "required"})
        </h6>
        <span></span>
        @Html.HiddenFor(m => m.CustomerId, new { @class = "textBox", @id="customer-Id"})
    </div>

    <button type="submit" class="btn btn-success" name="Btn" value="Submit" id="submitButton">Submit</button>
    <button type="submit" class="btn btn-danger" name="Btn" value="Cancel" id="close-form-button">Cancel</button>
}
