@model CafeMVC.Application.ViewModels.Customer.CustomerForSummaryVm
@{
    string title = "Summary";
    Layout = "_Layout";
}

<h1>@title</h1>
<br />
<br />

    <h3><b>Full name</b></h3>
    <h4><b>@Html.DisplayTextFor(m => m.FirstName) @Html.DisplayTextFor(m => m.Surname)</b></h4>

<br>

<h5>Contact Details</h5>
<table class="table table-dark" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayTextFor(m => m.ContactDetails[0].ContactDetailType)</th>
            <th>@Html.DisplayTextFor(m => m.ContactDetails[1].ContactDetailType)</th>
        </tr>
    </thead>
    <tr>
        <td>@Html.DisplayTextFor(m => m.ContactDetails[0].ContactDetailInformation)</td>
        <td>@Html.DisplayTextFor(m => m.ContactDetails[1].ContactDetailInformation)</td>
    </tr>
</table>
<br>
<h5>Addresses</h5>
<table class="table table-dark" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayTextFor(m => m.Addresses[0].Type)</th>
            <th>@Html.DisplayTextFor(m => m.Addresses[1].Type)</th>
        </tr>
    </thead>
    <tr>
        <td>@Html.DisplayTextFor(m => m.Addresses[0].Address)</td>
        <td>@Html.DisplayTextFor(m => m.Addresses[1].Address)</td>
    </tr>
</table>
<br />
<a class="btn btn-success" href="@Url.Action("Index", "Customer", new { customerId = Model.Id})">Accept </a>
<a class="btn btn-warning" href="@Url.Action("CustomerView", "Customer", new { customerId = Model.Id})">
    Edit
</a>
<a class="btn btn-danger" href="@Url.Action("DeleteCustomer", "Customer", new { customerId = Model.Id})">
    Cancel
</a>
