@model CafeMVC.Application.ViewModels.Customer.CustomerForCreationVm

<head>
    <link rel="stylesheet" href="~/css/OrderStyleSheet.css" />
</head>


@using (Html.BeginForm("AddNewCustomerSummary", "Customer", FormMethod.Post))
{
    <div id="customerContactInfo">

        <div class="header">
            <h2>Personal Details</h2>
            <hr class="overLine">
        </div>

        <div class="innerGrid">
            <div class="columnOne">
                <div id="firstName">
                    <h5>@Html.LabelFor(m => m.FirstName)</h5>
                    <h6>@Html.TextBoxFor(m => m.FirstName, new {@class = "textBox textbox2", @required = "required", @maxlength =50, @onchange="CheckField('firstName')"})</h6>
                    <span></span>
                </div>
                <div id="lastName">
                    <h5>@Html.LabelFor(m => m.Surname)</h5>
                    <h6>@Html.TextBoxFor(m => m.Surname, new {@class = "textBox textbox2", @required = "required", @maxlength =50, @onchange="CheckField('lastName')"})</h6>
                    <span></span>
                </div>
            </div>

            <div class="columnTwo">
                <h5>E-mail</h5>
                @Html.HiddenFor(m => m.ContactDetails[0].Id)
                @Html.HiddenFor(m => m.ContactDetails[0].ContactDetailTypeId, new {@id="emailTypeId"})
                <h6>@Html.TextBoxFor(m => m.ContactDetails[0].ContactDetailInformation, new {@class = "textBox textbox2", @required = "required", @id="emailBox", @oninput="ValidateEmail()"})</h6>
                <span id="emailAlert"></span>
                <h5>Contact phone</h5>
                @Html.HiddenFor(m => m.ContactDetails[1].Id)
                @Html.HiddenFor(m => m.ContactDetails[1].ContactDetailTypeId, new {@id="mobileTypeId"})
                <h6>@Html.TextBoxFor(m => m.ContactDetails[1].ContactDetailInformation, new {@class = "textBox textbox2", @required = "required", @id="phoneBox"})</h6>
                <span id="phoneAlert"></span>
            </div>
        </div>
    </div>
    <div class="header">
        <h2>Billing Address <input type="checkbox" value="" id="GetBillingAdress"></h2>
        <hr class="overLine">
    </div>
    <div id="billingAddress">
    </div>
    <div id="deliveryCheckBox" style="display:none;">
        <p><b>Delivery Address <label><input type="checkbox" value="" id="check-address" onclick="FillDeliveryAddress()">Same as billing?</label></b></p>
    </div>
    <div class="header">
        <h2>Delivery Address <input type="checkbox" value="" id="GetDeliveryAdress"></h2>
        <hr class="overline">
    </div>
    <div id="deliveryAddress">
    </div>

    <div id="submit">
        <button type="submit" class="btn btn-success" value="Submit" name="Btn" role="button" id="submitButton">Submit</button>
        <button type="submit" class="btn btn-danger" name="Btn" value="Cancel">Cancel</button>
    </div>

}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        $("#GetDeliveryAdress").click(function () {
            if ($(this).is(":checked")) {
                loadDeliveryPartialView();
                
            } else {
                $("#deliveryAddress").html("");
                $("#deliveryCheckBox").css("display", "none");
            }
        });

        function loadDeliveryPartialView() {
            $.ajax({
                url: "/Customer/GetDeliveryAddressPartialView",
                type: "GET",
                success: function (result) {
                    $("#deliveryAddress").html(result);
                   if (!$("#GetBillingAdress").is(":checked")) {
                    replaceInputNames("deliveryAddress");
                } else{
                        $("#deliveryCheckBox").css("display", "block");
                }
                }
            });
        }


        $("#GetBillingAdress").click(function () {
            if ($(this).is(":checked")) {
                loadBillingPartialView();
                if ($("#GetDeliveryAdress").is(":checked")){
                    replaceInputNamesZeroWithOne();
                     $("#deliveryCheckBox").css("display", "block");
                }
            } else {
                $("#billingAddress").html("");
                $("#deliveryCheckBox").css("display", "none");
                if ($("#GetDeliveryAdress").is(":checked")){
                    replaceInputNames();
                }
            }
        });

        function loadBillingPartialView() {
            $.ajax({
                url: "/Customer/GetBillingAddressPartialView",
                type: "GET",
                success: function (result) {
                    $("#billingAddress").html(result);
                    
                }
            });
        }
        function replaceInputNames() {

            var div = document.getElementById("deliveryAddress");
            var inputs = div.getElementsByTagName("input");
            for (let i = 0; i < inputs.length; i++) {
                let input = inputs[i];
                let name = input.getAttribute("name");
                if (name.includes("1")) {
                    name = name.replace("1", "0");
                    input.setAttribute("name", name);
                }
            }
        }

          function replaceInputNamesZeroWithOne() {

            var div = document.getElementById("deliveryAddress");
            var inputs = div.getElementsByTagName("input");
            for (let i = 0; i < inputs.length; i++) {
                let input = inputs[i];
                let name = input.getAttribute("name");
                if (name.includes("0")) {
                    name = name.replace("0", "1");
                    input.setAttribute("name", name);
                }
            }
        }

        const deliveryCheckBox = document.getElementById("GetDeliveryAdress");
        if (deliveryCheckBox.checked) {
            document.getElementById("countryD").value = "United Kingdoms";
            document.getElementById("cityD").value = "Leicester";
        }

        function CheckRegex(enteredPostcode) {
            var regEx = /^[a-z]{1,2}\d[a-z\d]?\s*\d[a-z]{2}$/i;
            var isValid = regEx.test(enteredPostcode);

            return isValid;

        }
        function CheckIfCanBeDelivered(enteredPostcode) {
            var upperPostcode = enteredPostcode.toUpperCase();
            var isLongerThanSixSigns = upperPostcode.length > 6;
            var firstOutcode = isLongerThanSixSigns ? "LE1 " : "LE1";
            const listOfOutcodesForDelivery = [firstOutcode, "LE2", "LE3", "LE4"];
            var outCode = upperPostcode.substring(0, 4);
            var canWeDeliver = listOfOutcodesForDelivery.some((x) =>
                outCode.includes(x));
            return canWeDeliver;
        }
        const submit = document.getElementById("submitButton");
        function CheckPostcode() {
            var enteredPostcode = document.getElementById("zipCodeD").value;
            var isValid = CheckRegex(enteredPostcode);
            var textboxMessage = document.getElementById("displayError");
            if (isValid == true) {
                var canWeDeliver = CheckIfCanBeDelivered(enteredPostcode);
                if (canWeDeliver == true) {
                    textboxMessage.style.color = "green";
                    textboxMessage.innerHTML = '<i class="fa-solid fa-circle-check" style="color:green"></i> We can deliver to you';
                    document.getElementById("submit").disabled = false;
                } else {
                    textboxMessage.style.color = "red";
                    textboxMessage.innerHTML = '<i class="fa-solid fa-circle-exclamation"></i> Sorry, we cannot deliver to this postcode';
                    submit.disabled = true;
                }
                console.log(canWeDeliver);
            } else {
                textboxMessage.innerHTML = '<i class="fa-solid fa-circle-exclamation"></i> Sorry, the postcode is inccorrect';
                textboxMessage.style.color = "red";
                submit.disabled = true;
            }
        }

        function FillDeliveryAddress() {
            var checkBox = document.getElementById("check-address");
            var streetBil = document.getElementById("streetB");
            var streetDel = document.getElementById("streetD");
            var buildingNoBil = document.getElementById("buildingNumberB");
            var buildingNoDel = document.getElementById("buildingNumberD");
            var flatNumberBil = document.getElementById("flatNumberB");
            var flatNumberDel = document.getElementById("flatNumberD");
            var zipCodeBil = document.getElementById("zipCodeB");
            var zipCodeDel = document.getElementById("zipCodeD");
           
            if (checkBox.checked == true) {
                streetDel.value = streetBil.value;
                buildingNoDel.value = buildingNoBil.value;
                flatNumberDel.value = flatNumberBil.value;
                zipCodeDel.value = zipCodeBil.value;
               
            } else {
                streetDel.value = "";
                buildingNoDel.value = "";
                flatNumberDel.value = "";
                zipCodeDel.value = "";
                
            }
            CheckPostcode()
        };

        function ValidateEmail() {
            var inputText = document.getElementById("emailBox");
            var textboxMessage = document.getElementById("emailAlert");
            var submit = document.getElementById("submitButton");

            var mailformat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (inputText.value.match(mailformat)) {
                textboxMessage.style.color = "green";
                textboxMessage.innerHTML = '<i class="fa-solid fa-circle-check" style="color:green"></i>';
                submit.disabled = false;

            } else {
                textboxMessage.style.color = "red";
                textboxMessage.innerHTML = '<i class="fa-solid fa-circle-exclamation"></i> Enter correct e-mail address';
                submit.disabled = true;

            }

        }


    </script>
    <script src="~/js/CustomerInfo.js"></script>
    }
