@model CafeMVC.Application.ViewModels.Customer.CustomerForCreationVm
@{ string title = "New Customer";
    Layout = "_Layout";}

<h1>@title</h1>
<br />
<br />
@using (Html.BeginForm("AddNewCustomerSummary", "Customer", FormMethod.Post))
{
    <h5>@Html.LabelFor(m => m.FirstName)</h5>
    <h6>@Html.TextBoxFor(m => m.FirstName)</h6>
    <br>
    <h5>@Html.LabelFor(m => m.Surname)</h5>
    <h6>@Html.TextBoxFor(m => m.Surname)</h6>
    <br>
    <br>
    <h5>E-mail</h5>
    <h6>@Html.TextBoxFor(m => m.ContactDetails[0].ContactDetailInformation)</h6>
    <button type="submit" value="Submit" role="button">Submit</button>
}
