@model CafeMVC.Application.ViewModels.Customer.AddressForCreationVm
@{ string title = "New Address";}

   <h5>@title</h5>
   @using (Html.BeginForm("AddNewAddress", "Customer", FormMethod.Post))
    {
    <h6>Address type</h6>
    @Html.DropDownList("AddressTypeId", new List<SelectListItem>
    {
        new SelectListItem { Text = Model.AllAddressTypes[0].Name,
            Value=Model.AllAddressTypes[0].Id.ToString() },
       new SelectListItem { Text = Model.AllAddressTypes[1].Name,
           Value=Model.AllAddressTypes[1].Id.ToString() }
    })
    <h5>Street</h5>
    <h6>
        @Html.TextBoxFor(m => m.Street)
    </h6>
    <br />
    <h5>Building Number</h5>
    <h6>
        @Html.TextBoxFor(m => m.BuildingNumber)
    </h6>
    <br />
    <h5>Flat Number</h5>
    <h6>
        @Html.TextBoxFor(m => m.FlatNumber)
    </h6>
    <br />
    <h5>PostCode</h5>
    <h6>
        @Html.TextBoxFor(m => m.ZipCode)
    </h6>
    <br />
    <h5>City</h5>
    <h6>
        @Html.TextBoxFor(m => m.City)
    </h6>
    <br />
    <h5>Country</h5>
    <h6>
        @Html.TextBoxFor(m => m.Country)
    </h6>
    @Html.HiddenFor(m => m.CustomerId)

    <button type="submit" class="btn btn-success" value="Submit" role="button">Submit</button> 
    }
    

