@model CafeMVC.Application.ViewModels.Customer.CustomerForCreationVm
@{ string title = "New Customer";
    Layout = "_Layout";
}

<h1>@title</h1>
<br />
<br />
@using (Html.BeginForm("AddNewCustomerSummary", "Customer", FormMethod.Post))
{
    @Html.Hidden("Id")
    <h5>@Html.LabelFor(m => m.FirstName)</h5>
    <h6>@Html.TextBoxFor(m => m.FirstName)</h6>
    <br>
    <h5>@Html.LabelFor(m => m.Surname)</h5>
    <h6>@Html.TextBoxFor(m => m.Surname)</h6>
    <br>
    <br>
    <h5>E-mail</h5>
    @Html.HiddenFor(m => m.ContactDetails[0].Id)
    @Html.HiddenFor(m => m.ContactDetails[0].ContactDetailTypeId)
    <h6>@Html.TextBoxFor(m => m.ContactDetails[0].ContactDetailInformation)</h6>
    <br />
    <br />
    <h5>Mobile Phone</h5>
    @Html.HiddenFor(m => m.ContactDetails[1].Id)
    @Html.HiddenFor(m => m.ContactDetails[1].ContactDetailTypeId)
    <h6>@Html.TextBoxFor(m => m.ContactDetails[1].ContactDetailInformation)</h6>
    <br />
    <br />
    <h5>Billing Address</h5>
    @Html.HiddenFor(m => m.Addresses[0].AddressTypeId)
    <br />
    <h5>Street</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[0].Street)
    </h6>
    <br />
    <h5>Building Number</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[0].BuildingNumber)
    </h6>
    <br />
    <h5>Flat Number</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[0].FlatNumber)
    </h6>
    <br />
    <h5>PostCode</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[0].ZipCode)
    </h6>
    <br />
    <h5>City</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[0].City)
    </h6>
    <br />
    <h5>Country</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[0].Country)
    </h6>
    <br />
    <br />
    <h5>Delivery Address</h5>
    @Html.HiddenFor(m => m.Addresses[1].AddressTypeId)
    <br />
    <h5>Street</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[1].Street)
    </h6>
    <br />
    <h5>Building Number</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[1].BuildingNumber)
    </h6>
    <br />
    <h5>Flat Number</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[1].FlatNumber)
    </h6>
    <br />
    <h5>PostCode</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[1].ZipCode)
    </h6>
    <br />
    <h5>City</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[1].City)
    </h6>
    <br />
    <h5>Country</h5>
    <h6>
        @Html.TextBoxFor(m => m.Addresses[1].Country)
    </h6>
    <br />
    <button type="submit" value="Submit" role="button">Submit</button>
}
