@model CafeMVC.Application.ViewModels.Customer.ContactInfoForCreationVm
@{ string title = "Add New Contact";

}

<h5>@title</h5>
<br />
<br />
@using (Html.BeginForm("ChangeContactDetail", "Customer", FormMethod.Post))
{
    @Html.Hidden("Id")
    <h5>Contact type</h5>
    <h6>
        @Html.DisplayFor(m => m.ContactDetailType)
    </h6>
    <br />
    <h5>Contact Detail</h5>
    @Html.TextBoxFor(m => m.ContactDetailInformation)
    <br />
    <br />
    @Html.HiddenFor(m => m.CustomerId)
    <button type="submit"class="btn btn-success" value="Submit" role="button" name ="Btn">Submit</button>
   <button type="submit" class="btn btn-danger" name="Btn" value="Cancel">Cancel</button>
}