@model CafeMVC.Application.ViewModels.Customer.CustomerDetailViewsVm
@{
    string title = "Customer View";
    Layout = "_Layout";
}

<h1>@title</h1>
<br>
<br>
<h5>Id:  @Html.DisplayFor(m => m.Id)</h5>
<h5>Full Name</h5>
<h6>@Html.DisplayFor(m => m.FullName)</h6>
<br>
<br>
<h5>Contact Details</h5>
<br>
<h5>E-mail</h5>
<h6>@Html.DisplayFor(m => m.ContactDetails.Find(x => x.ContactDetailType == "E-mail").ContactDetailInformation)</h6>
<br>
<br>
<h5>Telephones Numbers</h5>
<table>
    <tr>
        <td>Type</td>
        <td>Number</td>
    </tr>
    @for (int i = 0; i < Model.ContactDetails.Count; i++)
    {
        if (Model.ContactDetails[i].ContactDetailType != "E-mail")
        {
            <tr>
                <td>@Html.DisplayFor(m => m.ContactDetails[i].ContactDetailType)</td>
                <td>@Html.DisplayFor(m => m.ContactDetails[i].ContactDetailInformation)</td>
            </tr>
        }
    }
</table>
<br>
<br />
<h5>Addresses</h5>
<table>
    <tr>
        <td>No.</td>
        <td>Type</td>
        <td>Street</td>
        <td></td>
        <td></td>
    </tr>
    @for (int i = 0; i < Model.Addresses.Count; i++)
    {
<tr>
    <td>@i</td>
    <td>@Html.DisplayFor(m => m.Addresses[i].Type)</td>
    <td>@Html.DisplayFor(m => m.Addresses[i].Street)</td>
    <td>@Html.ActionLink("Details", "ViewAddress",  new { adderssId= Model.Addresses[i].Id})  |</td>  
    <td>@Html.ActionLink("Edit", "ChangeAddress", new { addressId = Model.Addresses[i].Id })</td>
</tr>
    }

</table>
<br />
<br />
<h5>Orders</h5>
<br />
@if (Model.Orders.Count == 0)
{
    <h6>No Orders to Show</h6>
}
else
{
<table>
    <tr>
        <td>No.</td>
        <td>Date</td>
        <td>Products Number</td>
        <td>Total Price</td>
        <td></td>
    </tr>
    @for (int i = 0; i < Model.Addresses.Count; i++)
    {
<tr>
    <td>@i</td>
    <td>@Html.DisplayFor(m => m.Orders[i].DateOfOrder)</td>
    <td>@Html.DisplayFor(m => m.Orders[i].ProductsCount)</td>
    <td>@Html.DisplayFor(m => m.Orders[i].TotalPrice)</td>
    <td>@Html.ActionLink("Details", "OrderView", "OrderController",new { orderId = Model.Orders[i].Id })</td>
</tr>
    }
</table>
}