@model CafeMVC.Application.ViewModels.Customer.ListOfCustomers

@{
    string title = "All Customers";
}
<head>
    <style>
        .table {
    background-color: rgba(41,43,44, 0.8) !important;
}
    </style>
</head>
<h1>@title</h1>

<p>
    <a asp-action="AddNewCustomer">Create New Customer</a>
</p>
<form asp-action="Index" asp-controller="customer" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" class="searchString" name="SerarchString" placeholder="Looking for..." />

        <input type="submit" value="Search" class="searchButton" />
    </div>
    <div class="row">

        <table class="table" style="width:60%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Full Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListOfAllCustomers)
                {
                    <tr>
                        <td width=10%>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td width=40%>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td width=50%>
                            @Html.ActionLink("Details", "CustomerView", new {  customerId = item.Id  }) |
                            @Html.ActionLink("Delete", "DeleteCustomer", new { customerId = item.Id})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="pagerTable">
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
            </table>
            <input type="hidden" name="pageNo" id="pageNo" />
            <input type="hidden" name="pageSize" id="pageSize" />
    </div>
</form>
@section Scripts
{
<script type="text/javascript">
    function PagerClick(index)
    {
        document.getElementById("pageNo").value = index;
        document.forms[0].submit();

    }
</script>
}
