@model CafeMVC.Application.ViewModels.Customer.AddressForCreationVm
@{
    string title = "Address View";
}
<head>

</head>
<h5>@title</h5>
    <table class="tableAdressView table-bordered bg-dark " id="addressViewTable">
        <thead>
            <tr>
                <th>
                    <h6>Builidng Number</h6>
                </th>
                @if (Model.FlatNumber != 0)
                {
                    <th>Flat Number</th>
                }
                <th>Street</th>
            </tr>
        </thead>
        <tr>
            <td class = "number"><h7> @Html.DisplayFor(m => m.BuildingNumber)</h7></td>
            @if (Model.FlatNumber != 0)
            {

                <td class="number"> @Html.DisplayFor(m => m.FlatNumber)</td>
            }
            <td> @Html.DisplayFor(m => m.Street)</td>
        </tr>
    </table>
    <table class="table-bordered bg-dark" id="addressViewTable">
        <thead>
            <tr>
                <th>City</th>
                <th>Post code</th>
                <th>Country</th>
            </tr>
        </thead>
        <tr>
            <td> @Html.DisplayFor(m => m.City)</td>
            <td> @Html.DisplayFor(m => m.ZipCode)</td>
            <td> @Html.DisplayFor(m => m.Country)</td>
        </tr>
    </table>
