@model CafeMVC.Application.ViewModels.Customer.AddressForCreationVm 
@{
    string title = "Address View";
}
<br />
<h5>@title</h5>
<br />
<h6>Builidng Number</h6>
<h7> @Html.DisplayFor(m => m.BuildingNumber)</h7>
<br />
@if (Model.FlatNumber != 0)
{
    <h6>Flat Number</h6>
    <h7> @Html.DisplayFor(m => m.BuildingNumber)</h7>
<br />
}
<h6>Street</h6>
<h7> @Html.DisplayFor(m => m.Street)</h7>
<br />
<h6>City</h6>
<h7> @Html.DisplayFor(m => m.City)</h7>
<br />
<h6>Post code</h6>
<h7> @Html.DisplayFor(m => m.ZipCode)</h7>
<br />
<h6>Country</h6>
<h7> @Html.DisplayFor(m => m.Country)</h7>
<br />